# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Sphinx build files
docs/build/

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/
*.bak
*.tmp
